@charset "UTF-8";
html {
    overflow: auto;
    height: 100%;
    font-size: 62.5%;
    /* 10px */
}

body {
    -webkit-text-size-adjust: 100%;
    color: #333;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", Verdana, "メイリオ", Meiryo, sans-serif;
    letter-spacing: 0.5px;
    -webkit-overflow-scrolling: touch;
}

body, input, select, textarea {
    font-size: 1.4rem;
    border-radius: 0;
}

button,
input,
optgroup,
select,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", Verdana, "メイリオ", Meiryo, sans-serif;
}

select {
    margin-bottom: 0;
}

input, select, textarea {
    font-family: inherit;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #CCC;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #CCC;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #CCC;
}

input[type=submit] {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 0.75;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a, button {
    cursor: pointer !important;
}

a:hover {
    color: #f7931e;
    transition: all 0.2s;
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}

button:hover,
button:active,
button:visited {
    color: #efefef;
}

h1, h2, h3, h4, h5, h6, th {
    font-weight: normal;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

header,
footer,
article,
section,
div, nav, aside,
ul, li,
dl, dt, dd {
    box-sizing: border-box;
    position: relative;
}

h1, h2, h3, h4, h5, h6,
p, th, td, span, a, img,
form, input, textarea, select, label,
small, address {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

small {
    font-size: 0.8em;
}

address {
    font-style: normal;
}

label {
    cursor: pointer;
    font-weight: normal !important;
    margin-bottom: 0;
}

p {
    word-break: break-all;
    margin: 0;
}

.media {
    margin-top: 0;
}

.ec-layoutRole {
    margin: 0 auto;
}

ul,
ol {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
}
ul li,
ol li {
    list-style: none;
}

dl, dt {
    font-weight: normal;
    margin-bottom: 0;
}

.ec-layoutRole {
    min-width: 1000px;
    background: #fff;
}

.ec-layoutRole__mainWithColumn > .ec-layoutRole__contents {
    min-width: auto !important;
}

.disabled_link {
    pointer-events: none;
    background: #aaa !important;
    border: 1px solid #aaa !important;
    opacity: 0.5;
}

header {
    min-width: 1000px;
}

.l-header__inner {
    padding-left: 15px;
    padding-right: 15px;
}
.l-header__search {
    display: flex;
    padding: 0 25px;
}
.l-header__search__submit {
    position: relative;
    top: 4px;
    left: 0;
}
.l-header__search .ec-input {
    width: 100%;
}
.l-header__search .ec-input input {
    width: 250px;
    height: 36px;
    border-radius: 0;
    border-color: #969696;
    padding: 0px 30px 0 12px;
    display: flex;
    align-items: center;
}
.l-header__search .ec-input button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #333 url("../../../html/template/commons/assets/img/common/ico_search_white.svg") no-repeat center top 3px;
    background-size: 12px;
    border: 1px solid #333;
    height: 30px;
    width: 30px;
    display: block;
    color: white;
    font-size: 8px;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 3px;
    display: block;
    padding-top: 9px;
}
.l-header__main {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #f7931e;
}
.l-header__main.is-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: #fff;
    z-index: 40;
    border-bottom: 1px solid #ccc;
}
.l-header__main.short {
    border-bottom: none;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
@keyframes piaryGradient {
    0% {background-position: 0% 50%}
    50% {background-position: 200% 50%}
    100% {background-position: 400% 50%}
}
.l-header__main__chache {
    width: 100%;
    background: #f7931e;
    background: linear-gradient(to right, #ff7951, #ffc35d, #ff7951);
    background-position: 0% 50%;
    background-size: 400% 400%;
    text-align: center;
    color: #fff;
    animation: piaryGradient 60s linear infinite;
}
.l-header__main__chache__inner {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}
.l-header__main__chache a {
    color: #fff;
    text-decoration: none;
}
.l-header__main__chache.short {
    padding: 3px;
}
.l-header__main__position {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.l-header__main__ttl h2 {
    margin: 0;
}
.l-header__main__sample a, .l-header__main__login a, .l-header__main__logout a, .l-header__main__fav a, .l-header__main__cart a {
    display: block;
    text-align: center;
}
.l-header__main__sample a:hover, .l-header__main__login a:hover, .l-header__main__logout a:hover, .l-header__main__fav a:hover, .l-header__main__cart a:hover {
    opacity: 0.8;
    color: #f7931e;
}
.l-header__main__sample a p, .l-header__main__login a p, .l-header__main__logout a p, .l-header__main__fav a p, .l-header__main__cart a p {
    margin-top: 3px;
}
.l-header__main__sample {
    width: 70px;
    display: inline-block;
}
.l-header__main__sample a img {
    width: 23px;
    height: 23px;
    margin: 0 auto 4px;
}
.l-header__main__login {
    width: 62px;
    display: inline-block;
}
.l-header__main__login a {
    padding-top: 11px;
    text-decoration: underline;
}
.l-header__main__logout {
    width: 62px;
    display: inline-block;
}
.l-header__main__logout a img {
    width: 23px;
    height: 23px;
    margin: 0 auto 4px;
}
.l-header__main__fav {
    width: 62px;
    display: inline-block;
}
.l-header__main__fav a img {
    width: 23px;
    height: 23px;
    margin: 0 auto 4px;
}
.l-header__main__cart {
    width: 42px;
    display: block;
    cursor: pointer;
    margin: 0 15px 0 0;
    position: relative;
}
.l-header__main__cart__badge {
    min-width: 2rem;
    background-color: #f7931e;
    border-radius: 50%;
    color: #FFF;
    font-size: 10px;
    height: 2rem;
    line-height: 2rem;
    position: absolute;
    text-align: center;
    right: -7px;
    top: -5px;
}
.l-header__main__cart a img {
    width: 25px;
    height: 25px;
    margin: 0 auto 0;
}
.l-header__main__rightDrawerOpen {
    width: 50px;
    display: block;
    position: relative;
    margin: 0 10px 0 auto;
}
.l-header__main__rightDrawerOpen img {
    position: absolute;
    top: 20px;
    left: 2px;
    cursor: pointer;
}
.l-header__menu {
    width: 45px;
    display: block;
}
.l-header__menu__btn.ec-headerNavSP {
    position: relative !important;
    margin-top: 2px;
    border-radius: 0 !important;
    display: block !important;
    padding: 0 !important;
}
.l-header__menu__btn.ec-headerNavSP img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.l-header__menu__noticeAreat {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    background: red;
    color: #fff;
    position: absolute;
    top: -6px;
    right: 0;
    z-index: 100;
}

.l-footer {
    width: 100%;
    min-width: 1000px;
    margin: 0 auto;
    background-color: #e8e8e8;
    padding-top: 2.5rem;
}
.l-footer__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.l-footer__area1 {
    width: 16% !important;
}
.l-footer__area2 {
    width: 28% !important;
}
.l-footer__area3 {
    width: 49% !important;
}
.l-footer__area4 {
    width: 7% !important;
}
.l-footer__mark1 {
    height: 40px;
    font-size: 12px;
}
.l-footer__mark1 img {
    height: 40px;
}
.l-footer__mark2 img {
    height: 70px;
}
.l-footer__mark3 img {
    height: 70px;
}
.l-footer__copyRight {
    width: 100%;
    background-color: #969696;
    padding: 0.8rem 1.5rem;
    color: #fff;
    font-size: 10px;
    font-size: 1rem;
}
.l-footer__cart {
    background: none;
    padding-top: 0 !important;
}
.l-footer__bottom {
    background-color: #969696;
    padding: 0.5rem 1rem;
    color: #fff;
}

.l-drawer {
    color: #969696;
    background: #fff;
}
.l-drawer__loginForm {
    width: 100%;
    margin: 0;
    padding: 0 3.5% 15px;
    border-image: linear-gradient(to right, #ff7951 0%, #ffc35d 100%) 1/1px 0 0 0;
    border-style: solid;
}

/* ハンバーガーメニュー */
.ec-drawerRole {
    left: auto;
    right: 0;
    transform: translateX(100%);
}

.ec-drawerRoleClose {
    right: 456px;
}

.l-optionDrawer {
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
}
.l-optionDrawer__screen {
    width: 100%;
    height: 100vh;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
}
.l-optionDrawer__inner {
    display: none;
    width: 95vw;
    max-width: 800px;
    height: auto;
    max-height: 98vh;
    color: #333;
    background: #fff;
    border-radius: 3px;
    opacity: 0;
    z-index: 99;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.l-optionDrawer__inner.js-modalAction {
    top: -5vh;
}
.l-optionDrawer__fixTtl {
    width: 100%;
    min-height: 70px;
    margin: 0 auto;
    padding-right: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    color: #333;
    background: #fff;
    z-index: 2;
    text-decoration: none;
    display: flex;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-pack: justify;
    border-radius: 4px 4px 0 0;
}
.l-optionDrawer__fixTtl.active {
    position: fixed;
    top: 13px;
    left: 2.5vw;
}
.l-optionDrawer__fixTtl__heading {
    max-width: calc(100% - 110px );
    margin: 0 auto;
    font-size: 1.9rem;
    line-height: 1.2;
    padding-left: 30px;
}
.l-optionDrawer__fixTtl__heading.back {
    padding-left: 0 !important;
}
.l-optionDrawer__main {
    position: relative;
    padding: 20px;
    overflow-y: auto;
}
.l-optionDrawer__main.fixed {
    height: calc( 100vh - 70px )!important;
    padding: 20px;
}
.l-optionDrawer__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #333;
    background-size: 12px;
    border: 1px solid #333;
    height: 38px;
    width: 38px;
    display: block;
    color: white;
    font-size: 8px;
    position: absolute;
    top: -18px;
    right: 3px;
    border-radius: 6px;
    display: block;
    padding-top: 20px;
}
.l-optionDrawer__close::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 7px;
    display: block;
    width: 63%;
    border-top: 1px solid #fff;
    transform: rotate(-45deg);
}
.l-optionDrawer__close::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 7px;
    display: block;
    width: 63%;
    border-top: 1px solid #fff;
    transform: rotate(45deg);
}
.l-optionDrawer__imgClose {
    position: absolute;
    top: 1%;
    right: 2%;
    z-index: 2;
    font-size: 40px;
    line-height: 1;
}
.l-optionDrawer__preview {
    width: 80%;
    max-width: 370px;
    margin: 15px auto;
}
.l-optionDrawer__btnarea {
    padding: 10px 0;
}
.l-optionDrawer__noticeDelivery {
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90vw;
    max-width: 500px;
    background: #fff;
    z-index: 999;
    font-size: 13px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2);
}

/* 要るのかわかりませんがテイスト合わせ */
.ec-cartNaviIsset {
    background: #fff;
    padding: 1.5rem;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.6);
    border-radius: 3px;
}

.l-refine__price {
    width: calc(50% - 1em);
    border-radius: 5px;
    background-color: #e6e6e6;
    display: inline-block;
    padding: 5px;
}
.l-refine__price input {
    border: none !important;
    background-color: #e6e6e6;
    width: calc(100% - 1em) !important;
    padding: 0.2rem 0 0.3rem !important;
}
.l-refine__colorSearch {
    width: 300px;
    margin: 0 auto;
}
.l-refine__colorSearch__item {
    position: relative;
}
.l-refine__colorSearch__item a {
    width: 40px;
    height: 40px;
    margin: 4px;
    border-radius: 5px;
    display: inline-block;
}
.l-refine__colorSearch__clear {
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 17px;
    background: #fff;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 12px;
    font-style: normal;
    border-radius: 50%;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    z-index: 33;
}
.l-refine .bdt-listTopNone {
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, #ff7951, #ffc35d) 1 !important;
}
.l-refine .bdt-listTopNone li:not(:first-of-type) {
    border-top: solid 1px #ccc !important;
}
.l-refine__pcHidden {
    opacity: 0;
    height: 5px;
}

.l-keyword {
    font-size: 13px;
    text-align: center;
    padding: 0 20px;
}
.l-keyword li {
    display: inline-block;
    margin-right: 20px;
    line-height: 1.6;
}
.l-keyword li a {
    color: #f7931e;
}

.l-frame__full{
    width: 100%;
}
.l-frame__wide {
    max-width: 1200px;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.l-frame__middle {
    max-width: 900px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.l-gnav nav {
    min-width: 1000px;
    border-bottom: 1px solid #f7931e;
    /* padding: 6px 0; */
}
.l-gnav nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    flex-wrap: wrap;
}
.l-gnav nav ul li {
    width: calc(100%/7);
    border-right: 1px solid #f7931e;
}
.l-gnav nav ul li:first-child,
.l-gnav nav ul li:nth-child(8) {
    border-left: 1px solid #f7931e;
}
.l-gnav nav ul li:nth-child(-n+7) {
    border-bottom: 1px solid #f7931e;
}
.l-gnav nav ul li a {
    width: 93%;
    min-height: 38px;
    padding: 3px 0;
    font-size: 12px;
    line-height: 1.2;
    margin: 3px auto;
    border-radius: 5px;
    color: #444;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    text-align: center;
    transition: all 0.4s;
}
.l-gnav nav ul li:hover a, .l-gnav nav ul li.is-current a, .l-gnav nav ul li.is-pageCurrent a {
    background: #f7931e;
    background: linear-gradient(to right, #ff7951, #ffc35d);
    color: #fff;
    text-decoration: none;
}
.l-gnav nav ul li:hover a {
    opacity: 0.6;
    transition: all 0.4s;
}
.l-gnav__head {
    position: relative;
}
.l-gnav__head__cate {
    display: none;
    width: 100%;
    background: rgba(249,249,249,0.95);
    margin: 0;
    padding: 0 0.5rem;
    border-bottom: 3px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.l-gnav__head__cate__inner {
    display: flex;
    max-width: 1180px;
    min-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0;
}
.l-gnav__head__photo {
    width: 660px;
}
/*
.l-gnav__head__photo.l-gnav__head__photo--paper {
  width: 900px;
}
*/
.l-gnav__head__photo > ul > li {
    width: 160px;
}

.l-gnav__head__list {
    width: calc( 100% - 660px );
}
.l-gnav__head__list > ul {
    padding: 1rem 0;
    line-height: 1.6;
}
.l-gnav__head__list > ul > li > p {
    font-size: 13px;
    font-weight: bold;
}
.l-gnav__head__list > ul > li > ul {
    font-size: 1.3rem;
    line-height: 1.4;
    padding: 0 8px;
    margin-bottom: 0.8rem;
}
.l-gnav__head__list > ul > li > ul > li:first-child {
    margin-bottom: 0.3rem;
}
.l-gnav__head__list > ul > li > ul > li:not(:first-child) {
    font-size: 0.85em;
    padding-left: 8px;
    margin-bottom: 0.3rem;
}
.l-gnav__head__list > ul > li > ul > li:not(:first-child)::before {
    content: "└ ";
}
.c-gnav__head__articles{
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    padding-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}
.c-gnav__head__articlesLink{
    padding: 0 8px;
}

.l-dialog__overlay {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1002;
}
.l-dialog__main {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 1003;
    display: none;
}
.l-dialog__main.is-active {
    display: block;
    transition: all 0.3s;
}
.l-dialog__main__inner {
    width: 85%;
    max-width: 350px;
    background: #fff;
    margin: 20vh auto 0;
    border-radius: 8px;
    text-align: center;
}
.l-dialog__main__inner.borRad0 {
    width: 550px;
    max-width: none;
    border-radius: 2px !important;
    text-align: left;
}
.l-dialog__main__top {
    line-height: 1.6;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
}
.l-dialog__main__top__title {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
}
.l-dialog__main__bottom {
    display: flex;
}
.l-dialog__main__bottom a {
    width: 50%;
    padding: 18px 25px;
    display: block;
    color: #f7931e;
}
.l-dialog__main__bottom a:first-child {
    border-right: 1px solid #ccc;
}

.c-title__border {
    height: 46px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #333;
    text-decoration: none;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
}
.c-title__border h2, .c-title__border h3, .c-title__border h4, .c-title__border h5 {
    margin: 0;
    display: inline-block;
}

.c-button__primary {
    width: 100%;
    height: 60px;
    font-size: 18px;
    display: block;
    border: 1px solid;
    border-color: #f7931e;
    border-image: linear-gradient(90deg, #ff7951, #ffc35d) 1 !important;
    background: #fff;
    color: #f7931e;
    position: relative;
    margin: 0 auto;
    padding: 0 1.5em 0 0.8em;
    outline: none;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
}
.c-button__primary::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
    width: 13px;
    height: 13px;
    right: 1.25rem;
    border-right: 1px solid #f7931e;
    border-bottom: 1px solid #f7931e;
    border-left: none;
    border-top: none;
}
.c-button__primary:hover {
    text-decoration: none;
    background: #f9efe3;
    color: #f7931e;
}
.c-button__primary.back::after {
    left: 55%;
    right: auto;
    transform: translate(-50%, -50%) rotate(-225deg);
}
.c-button__primary.noArrow::after {
    display: none;
}
.c-button__gray {
    width: 100%;
    max-width: 430px;
    min-height: 50px;
    font-size: 18px;
    background: #555;
    border: 1px solid #555;
    color: #fff !important;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    color: inherit;
}
.c-button__rightArrow, .c-button__rightArrow-s {
    position: relative;
}
.c-button__rightArrow::after, .c-button__rightArrow-s::after {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
}
.c-button__bottomArrow, .c-button__bottomArrow-s {
    position: relative;
}
.c-button__bottomArrow::after, .c-button__bottomArrow-s::after {
    top: calc( 50% - 2px);
    transform: translate(0, -50%) rotate(-315deg);
}
.c-button__topArrow, .c-button__topArrow-s {
    position: relative;
}
.c-button__topArrow::after, .c-button__topArrow-s::after {
    top: calc( 50% + 4px);
    transform: translate(0, -50%) rotate(-135deg);
}
.c-button__topArrow::after, .c-button__bottomArrow::after, .c-button__rightArrow::after {
    width: 16px;
    height: 16px;
}
.c-button__topArrow-s::after, .c-button__bottomArrow-s::after, .c-button__rightArrow-s::after {
    width: 13px;
    height: 13px;
}

.c-button__rightArrow::after, .c-button__rightArrow-s::after, .c-button__bottomArrow::after, .c-button__bottomArrow-s::after, .c-button__topArrow::after, .c-button__topArrow-s::after {
    content: "";
    position: absolute;
    right: 0.75rem;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-top: none;
    border-color: #ccc;
}

.c-pager {
    list-style: none;
    list-style-type: none;
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
}
.c-pager .c-pager__item,
.c-pager .c-pager__item--active {
    display: inline-block;
    min-width: 29px;
    padding: 0 3px 0 2px;
    text-align: center;
    position: relative;
}
.c-pager .c-pager__item a,
.c-pager .c-pager__item--active a {
    color: inherit;
    background: #fff;
    text-decoration: none;
    padding: 4px 7px;
    display: block;
    border: solid 1px #969696;
    transition: 0.3s;
}
.c-pager .c-pager__item a:hover,
.c-pager .c-pager__item--active a:hover {
    color: inherit;
    text-decoration: none;
}
.c-pager .c-pager__item--active a {
    background: #f7931e;
    border: 1px solid #f7931e;
    color: #fff;
}
.c-pager .c-pager__item--active a:hover {
    background: #F3F3F3;
}

.c-form__inner {
    width: calc(100% - 1.5rem);
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
}
.c-form__inner__row {
    width: 100%;
}
.c-form__inner__half {
    width: 50%;
    display: flex;
    align-items: center;
}
.c-form__inner__half__left {
    width: 20%;
}
.c-form__inner__half__right {
    width: calc( 100% - 25% );
}
.c-form__inner select, .c-form__inner input[type=text], .c-form__inner input[type=number], .c-form__inner input[type=password] {
    border-color: #ccc;
}
.c-form__inner__note {
    color: #333;
    font-size: 12px;
    margin: 3px 0 0 0;
    display: block;
}
.c-form input[type=number] {
    display: inline-block;
    width: auto;
    max-width: 150px;
    text-align: right;
}
.c-form__radio input[type=radio] {
    display: none;
    margin-right: 1em;
}
.c-form__radio label {
    margin-bottom: 0;
    font-weight: normal;
    box-sizing: border-box;
    transition: background-color 0.2s linear;
    position: relative;
    display: inlineblock;
    padding-left: 40px;
    vertical-align: middle;
    cursor: pointer;
}
.c-form__radio label::before, .c-form__radio label::after {
    transition: border-color 0.2s linear;
    position: absolute;
}
.c-form__radio label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-top: -5px;
    opacity: 0;
}
.c-form__radio label::after {
    top: calc( 50% + 1px);
    left: 4px;
    display: block;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border: 1px solid #aaa;
    border-radius: 50%;
    content: "";
}
.c-form__radio__label_top label::before {
    top: 1rem !important;
}
.c-form__radio__label_top label::after {
    top: 1.1rem !important;
}
.c-form__radio input[type=radio]:checked + label:before {
    opacity: 1;
    background-color: #F7851E;
    animation: icRadioSelected 0.3s ease 0s 1 normal;
}
.c-form__radio input[type=radio]:checked + label:after {
    opacity: 1;
    border: 1px solid #f7931e;
}
.c-form__checkbox input[type=checkbox] {
    display: none;
}
.c-form__checkbox label {
    position: relative;
    padding: 0 0 0 27px;
    font-weight: normal;
}
.c-form__checkbox label::after, .c-form__checkbox label::before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
}
.c-form__checkbox label::after {
    left: 0;
    margin-top: -10px;
    width: 21px;
    height: 21px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    background: #d6d6d6;
}
.c-form__checkbox label::before {
    left: 7px;
    margin-top: -8px;
    width: 7px;
    height: 13px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    z-index: 2;
}
.c-form__checkbox input[type=checkbox].isChecked + label::after,
.c-form__checkbox input[type=checkbox]:checked + label::after {
    background: #f7931e;
    border-color: #f7931e;
}
.c-form__checkbox label.isChecked-label::after {
    background: #f7931e;
    border-color: #f7931e;
}
.c-form__add-answer__code input[type=text] {
    margin-top: 10px;
}
.c-form__input-w50 input, .c-form__input-w50 select {
    width: 50% !important;
}
.c-form__input-w60 input, .c-form__input-w60 select {
    width: 60% !important;
}
.c-form__input-w80 input, .c-form__input-w80 select {
    width: 80% !important;
}
.c-form__input-w100 input, .c-form__input-w100 select {
    width: 100% !important;
}
.c-form__fileUploadThumbnail {
    margin-bottom: 15px;
}
.c-form__date {
    background: url("../../../html/template/commons/assets/img/common/ico_calendar.png") no-repeat 99% center;
}
.c-form__addressDel {
    position: relative;
    top: -120px;
    left: 0;
}
.c-form__flxMid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.c-form__flxBet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-height: 50px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 1.4;
    padding: 0.7em 0.8em;
    border-radius: 1px !important;
}
textarea::placeholder {
    color: #ccc;
}
textarea:-ms-input-placeholder {
    color: #ccc;
}
textarea::-ms-input-placeholder {
    color: #ccc;
}

input[type=text], input[type=email], input[type=password], input[type=number], input[type=date], input[type=file], input[type=time], .c-form-search input {
    width: 100%;
    max-width: 100%;
    height: auto !important;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #ccc!important;
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0;
    padding: 0.7em 0.8em;
    box-shadow: none;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset!important;
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder, input[type=number]::placeholder, input[type=date]::placeholder, input[type=file]::placeholder, input[type=time]::placeholder, .c-form-search input::placeholder {
    color: #ccc;
}
input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, input[type=date]:-ms-input-placeholder, input[type=file]:-ms-input-placeholder, input[type=time]:-ms-input-placeholder, .c-form-search input:-ms-input-placeholder {
    color: #ccc;
}
input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder, input[type=number]::-ms-input-placeholder, input[type=date]::-ms-input-placeholder, input[type=file]::-ms-input-placeholder, input[type=time]::-ms-input-placeholder, .c-form-search input::-ms-input-placeholder {
    color: #ccc;
}

input[type=time] {
    width: 7em;
    line-height: 1.2 !important;
}

.error input[class=c-form__date] {
    background: #FDF1F0 url("../../../html/template/commons/assets/img/common/ico_calendar.png") no-repeat 99% center;
}

select {
    cursor: pointer;
}

select:not(.ui-datepicker-year),
select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    min-width: 75px;
    height: auto !important;
    position: relative;
    background: #fff url("../../../html/template/commons/assets/img/common/bg_select_arrow.png") no-repeat center right 8px !important;
    border-radius: 0;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 1.4;
    padding: 0.7em 27px 0.7em 1em;
}
select:not(.ui-datepicker-year)::placeholder,
select.form-control::placeholder {
    color: #ccc;
}
select:not(.ui-datepicker-year):-ms-input-placeholder,
select.form-control:-ms-input-placeholder {
    color: #ccc;

}
select:not(.ui-datepicker-year)::-ms-input-placeholder,
select.form-control::-ms-input-placeholder {
    color: #ccc;
}

select::-ms-expand {
    display: none;
}

.form-error-icon.badge {
    display: none;
}

.form-error-message {
    color: #f00 !important;
    font-size: 12px !important;
}

.error select {
    background: #FDF1F0 url("../../../html/template/commons/assets/img/common/bg_select_arrow.png") no-repeat center right 8px !important;
}

.uploadbox {
    width: calc( 100% - 20px );
    position: relative;
    margin-bottom: 0.5rem;
}
.uploadbox.error input {
    background: #FDF1F0;
}

.uploadbox .upload_cancel {
    position: absolute;
    top: 10px;
    right: -20px;
    font-size: 18px;
}

.original_name {
    background: #fff;
    position: absolute;
    top: 12px;
    left: 138px;
    padding: 0 95px 0 5px;
}

@keyframes icRadioSelected {
    0% {
        transform: scale(0.1, 0.1);
    }
    80% {
        transform: scale(1.4, 1.4);
    }
    100% {
        transform: scale(1, 1);
    }
}
.c-switch__tab {
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.c-switch__tab__label {
    width: 50%;
    height: 56px;
    background: transparent;
    transition: all 0.4s;
    position: relative;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-switch__tab__label.is-current {
    color: #F7851E;
    border-bottom: 6px solid #F7851E;
}
.c-switch__tab__label a {
    color: inherit;
    width: 100%;
    height: 100%;
    padding: 0.7em 0.5em 1em;
    text-align: center;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    font-size: 12px;
}
.c-switch__tab__label a:hover {
    text-decoration: none;
}
.c-switch__container li {
    position: relative !important;
}
.c-switch__panel {
    display: none;
}
.c-switch__panel.is-current {
    display: block;
}
.c-switch__panel__tag {
    font-size: 10px;
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    background: #f7931e;
    border: 1px solid #f7931e;
    margin-left: 4px;
    position: relative;
    top: -2px;
}

.c-parts__tag {
    position: absolute;
    bottom: 2px;
    left: 2px;
}
.c-parts__tag__pos {
    display: block;
}
.c-parts__tag__pos:not(:last-child) {
    margin-bottom: 2px;
}
.c-parts__tag__pos span {
    display: inline-block;
    font-size: 1.1rem;
    color: #fff;
    padding: 2px 6px;
    background-color: #F7851E;
}
.c-parts__tag__single {
    display: inline-block;
    font-size: 10px;
    position: relative;
    top: -2px;
    color: #fff;
    padding: 2px 4px;
    background-color: #F7851E;
}
.c-parts__minus {
    position: relative;
}
.c-parts__minus::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    top: 10px;
    right: -18px;
}
.c-parts__plus {
    position: relative;
}
.c-parts__plus::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    top: 10px;
    right: -18px;
}
.c-parts__plus::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: currentColor;
    top: 6px;
    right: -14px;
}

.c-notice__noAreat {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    background: red;
    color: #fff;
}
.c-notice__redBorder {
    border: 3px solid #f00;
    line-height: 1.7;
}

.c-sort {
    display: flex;
    justify-content: flex-end;
    margin: 0 0.75% 16px 0;
    font-size: 13px;
}
.c-sort p {
    border-right: 1px solid #ccc;
    padding: 0 0.7em;
}
.c-sort p:first-child {
    border-left: 1px solid #ccc;
}
.c-sort input[type=radio] {
    width: 1px;
    opacity: 0;
}
.c-sort input[type=radio]:checked + label {
    color: #f35a1f;
}
.c-sort label {
    font-weight: normal !important;
    margin-bottom: 0 !important;
}

.c-modal__container {
    display: none;
}
.c-modal__content img {
    width: 100% !important;
    padding: 8px;
}

.c-slick__slide, .c-slick__slide-thumb {
    display: none;
}
.c-slick__slide.slick-initialized, .c-slick__slide-thumb.slick-initialized {
    display: block;
    /*slick-initializedが付与されたら表示*/
}
.c-slick__slide .slick-slide img {
    width: 100%;
    max-width: auto;
}
.c-slick__slide__prev, .c-slick__slide__next {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 32%;
    overflow: hidden;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-top: none;
    border-color: #ccc;
    cursor: pointer;
}
.c-slick__slide__prev {
    z-index: 1;
    transform: rotate(135deg);
    left: 4px;
}
.c-slick__slide__next {
    transform: rotate(315deg);
    right: 4px;
}
.c-slick__slide-thumb li {
    padding: 8px 4px;
}
.c-slick__slide-thumb li a {
    display: block;
    text-align: center;
    font-size: 10px;
    color: #999999;
    text-decoration: underline;
}
.c-slick__slide-thumb .thumbimg {
    background: #fff;
    padding: 2px;
    border: 1px solid #ccc;
    margin-bottom: 2px;
}
.c-slick__slide-thumb .slick-active {
    opacity: 0.7;
}
.c-slick__slideArrow-left, .c-slick__slideArrow-right {
    background: 0;
    border: 0;
    display: block;
    font-size: 0;
    height: 32px;
    line-height: 32px;
    position: absolute;
    top: 47%;
    width: 32px;
    z-index: 7;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: inset 0 0 1px #ff7951, inset 1px 0 1px #ffc35d;
    cursor: pointer;
}
.c-slick__slideArrow-left::before, .c-slick__slideArrow-left::after, .c-slick__slideArrow-right::before, .c-slick__slideArrow-right::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
}
.c-slick__slideArrow-left {
    left: 1%;
}
.c-slick__slideArrow-left::before {
    border-top: 1px solid #ff7951;
    border-right: 1px solid #ff7951;
    transform: rotate(225deg);
    left: 12px;
}
.c-slick__slideArrow-right {
    right: 1%;
}
.c-slick__slideArrow-right::before {
    border-top: 1px solid #ff7951;
    border-right: 1px solid #ff7951;
    transform: rotate(45deg);
    right: 12px;
}
.c-slick__bigarrow__prev,
.c-slick__bigarrow__next{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    z-index: 1;
    cursor: pointer;
}
.c-slick__bigarrow__next{
    left: auto;
    right: 0;
}
.c-slick__bigarrow__prev::before,
.c-slick__bigarrow__next::before {
    display: block;
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 48%;
    overflow: hidden;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-left: none;
    border-top: none;
    border-color: #000;
    cursor: pointer;
}
.c-slick__bigarrow__prev::before {
    z-index: 1;
    transform: rotate(135deg);
    left: 70px;
}
.c-slick__bigarrow__next::before {
    transform: rotate(315deg);
    right: 70px;
}

/* 画像が小さい晩スライダー */
.c-slick__smallarrow__prev,
.c-slick__smallarrow__next{
    position: absolute;
    bottom: 14px;
    z-index: 1;
    cursor: pointer;
}
.c-slick__smallarrow__prev{}
.c-slick__smallarrow__next{
}
.c-slick__smallarrow__prev::before,
.c-slick__smallarrow__next::before {
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: #000;
    cursor: pointer;
}
.c-slick__smallarrow__prev::before {
    transform: rotate(135deg);
}
.c-slick__smallarrow__next::before {
    transform: rotate(315deg);
}

.c-slick__checkedItem {
    display: none;
}
.c-slick__checkedItem.slick-initialized {
    display: block;
    /*slick-initializedが付与されたら表示*/
}
.c-slick__checkedItem .c-itemList__item {
    padding: 0 0.25rem;
}
.c-slick__checkedItem .slick-track {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.c-slick__checkedItem .slick-slide img {
    width: 100%;
    max-width: auto;
    min-height: 40px;
    background-color: #fffafa;
}
.c-slick__checkedItem .slick-active {
    outline: none;
}
.c-slick__checkedItem__prev, .c-slick__checkedItem__next {
    width: 16px;
    height: 16px;
    border-top: 4px solid #888;
    border-right: 4px solid #888;
    position: absolute;
    top: 33%;
}
.c-slick__checkedItem__prev {
    transform: rotate(225deg);
    left: 16px;
    z-index: 1;
}
.c-slick__checkedItem__next {
    transform: rotate(45deg);
    right: 16px;
}
.c-slick__goTo {
    overflow: hidden;
}

.c-slickSlide li img {
    width: 100%;
}

.js-toppagePcSlide .slick-slide:not(.slick-center) {
    -moz-filter: opacity(50%);
    -o-filter: opacity(50%);
    -ms-filter: opacity(50%);
    filter: opacity(50%);
    transition: 0.2s linear;
}

.c-breadcrumb {
    width: 100%;
    margin: 0 auto 1.5rem;
    padding-left: 0.75rem;
}
.c-breadcrumb ol li:not(:last-child)::after {
    content: ">";
    margin: 0 0.5em 0 0.7em;
    color: #969696;
    text-decoration: none;
}
.c-breadcrumb ol li a {
    color: #333;
    font-size: 13px;
    font-weight: normal;
}

.p-top__topic__ttl {
    min-height: 36px;
}

.p-side .c-globalNav__menu {
    border: 0 !important;
}

.p-ranking {
    display: none;
}
.p-ranking.slick-initialized {
    display: block;
    /*slick-initializedが付与されたら表示*/
}
.p-ranking__title {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}
.p-ranking__title span {
    width: 220px !important;
    height: 60px;
    margin: 0 auto;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    font-size: 1.4rem;
    text-align: center;
    background-color: #f3f3f3;
    color: #707070;
    border: solid 0.1rem #cccccc;
    border-radius: 0.5rem;
    margin-left: 1rem;
}
.p-ranking.slider-nav .slick-current span {
    color: #fff;
    background: #F7851E;
    border: solid 0.1rem #F7851E;
}
.p-ranking .slick-slide:first-of-type .p-ranking__title span {
    margin-left: 0;
}
.p-ranking .slick-initialized .slick-track .slick-slide {
    outline: none !important;
}
.p-ranking img {
    width: 100%;
    min-height: 40px;
    background-color: #fffafa;
}
.p-ranking__goToContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.p-ranking__goToContainer__slickGoTo {
    width: 22px;
    height: 27px;
    background: url("../../../html/template/commons/assets/img/top/ico_arrow_left.svg") no-repeat center left 6px;
    background-size: 17px;
    position: absolute;
    right: -25px;
    top: 12px;
    transition: all 0.2s;
}
.p-ranking__goToContainer__slickGoTo.active {
    right: 33px;
    transition: all 0.2s;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: inset 0 0 1px #ff7951, inset 1px 0 1px #ffda5d;
}

.js-rankingItemSearchinWrap {
    width: 100%;
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s;
    z-index: 2;
}
.js-rankingItemSearchinWrap.is_active {
    transform: translateX(0);
    transition: all 0.3s;
}

.p-list__refine-hiddenitem {
    opacity: 0;
    height: 1px;
    width: 100%;
}
.p-list__side {
    width: 350px;
}
.p-list__main {
    width: calc( 100% - 350px );
}

.p-detail__slideContainer {
    position: relative;
}
.p-detail__slideContainer__inner {
    padding: 0 !important;
    margin-bottom: 0 !important;
}
.p-detail__slideContainer__inner .slick-track {
    display: flex !important;
}
.p-detail__slideContainer__inner .slide-item {
    display: flex;
    height: inherit !important;
    justify-content: center;
    align-items: center;
}
.p-detail__slideContainer__inner .slide-item__inner {
    width: 100%;
}
.p-detail__goToContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.p-detail__goToContainer__slickGoTo {
    background: 0;
    border: 0;
    display: block;
    font-size: 0;
    height: 32px;
    line-height: 32px;
    position: absolute;
    top: 47%;
    width: 32px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: inset 0 0 1px #ff7951, inset 1px 0 1px #ffc35d;
    display: none;
}
.p-detail__goToContainer__slickGoTo::before {
    content: "";
    display: block;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 7px;
    right: 6px;
    background: url("../../../html/template/commons/assets/img/top/ico_arrow_left.svg") no-repeat;
    background-size: contain;
}
.p-detail__goToContainer__slickGoTo.active {
    display: block;
    right: 1%;
    transition: all 0.2s;
}
.p-detail__goToContainer .slider-nav .slick-track {
    margin-left: -25.5vw;
    transition: all 0.2s;
}
.p-detail__itemnamearea .yotpo a.text-m {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 3px;
}
.p-detail__itemNav {
    width: 100%;
    margin: 2.5rem 0;
}
.p-detail__itemNav img {
    width: 100% !important;
}
.p-detail__itemNav.is_active {
    display: block;
    transform: translateX(0);
    transition: all 0.3s;
    opacity: 1;
    z-index: 42;
    right: auto;
    left: 0;
}
.p-detail__itemNav__heading {
    padding: 1em;
    line-height: 1.5;
    font-size: 16px;
    font-size: 1.6rem;
    text-align: center;
    border-bottom: 1px solid #666;
    margin-bottom: 25px;
}
.p-detail__itemNav .slideThumb {
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    width: 13.5% !important;
    margin-right: 0.916%;
    margin-bottom: 0.5rem;
}
.p-detail__itemNav .slideThumb:nth-child(7n) {
    margin-right: 0;
}
.p-detail__itemCountBord {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    bottom: 1.25rem;
    line-height: 1;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0.5rem 0;
    margin: 0 auto;
    text-align: center;
    width: 7.5rem;
    letter-spacing: 2px;
    z-index: 49;
    border-radius: 2.25vh;
}
.p-detail .slick-slider {
    margin-bottom: 0 !important;
}
.p-detail .item_nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.p-detail__favoriteBtnContainer {
    position: absolute;
    width: 5.5rem;
    height: 5.5rem;
    bottom: -1.5rem;
    right: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 1rem 0.5rem;
    box-shadow: 0 0 3px 0.5px #aaa;
    text-align: center;
}
.p-detail__detailFavorite {
    display: block;
    width: 50%;
    height: 5.5rem;
    background: url("../../../html/template/commons/assets/img/common/ico_fav.svg") no-repeat;
    background-size: 96%;
    margin: 0 auto;
    padding: 0 2%;
    border: none;
    outline: none;
}
.p-detail__detailFavorite.tap {
    animation: favoriteIcon 0.6s ease 0s 1 normal;
    background: url("../../../html/template/commons/assets/img/common/ico_fav_active.svg") no-repeat;
    background-size: 96%;
}
.p-detail__tag {
    font-size: 12px;
    margin-right: 5px;
    padding: 1px 4px;
    border: 1px solid #F7851E;
    background-color: #fff;
    color: #F7851E;
}
.p-detail__niceCount {
    font-size: 12px;
    position: relative;
    top: -32px;
}
.p-detail__panel__main {
    overflow: hidden;
    background: #fff;
    min-height: 180px;
}
.p-detail__panel__main.is-panelClose {
    height: 200px;
    position: relative;
}
.p-detail__panel__main.is-panelClose::after {
    content: "";
    display: block;
    width: 100%;
    height: 150px;
    background: linear-gradient(#FFFFFF00, #FFF);
    position: absolute;
    bottom: 0;
    right: 0;
}
.p-detail__panel__btnArea {
    text-align: center;
    background: #fff;
}
.p-detail__panel__tabToggle {
    width: 85%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.slider-for {
    display: none;
}
.slider-for.slick-initialized {
    display: block;
}

.js-setitem_slider .c-slick__slideArrow-left,
.js-setitem_slider .c-slick__slideArrow-right {
    top: 30vw !important;
}

.js-setitem_slider .c-slick__slideArrow-left {
    left: -2% !important;
}

.js-setitem_slider .c-slick__slideArrow-right {
    right: -2% !important;
}

.c-itemList .p-detail__favoriteBtnContainer {
    bottom: 1px;
    right: 1px;
    width: 5.5vw;
    height: 5vw;
    background: none;
}
.c-itemList .p-detail__detailFavorite {
    width: 100%;
    height: 100%;
    margin: 0;
}

.c-favReg__favorite {
    width: 22px;
    height: 22px;
    display: block;
    background: url("../../../html/template/commons/assets/img/common/ico_fav.svg") no-repeat;
    background-size: contain;
    margin: 1px auto 0;
    border: none;
    outline: none;
}
.c-favReg__favorite.tap {
    animation: favoriteIcon 0.6s ease 0s 1 normal;
    background: url("../../../html/template/commons/assets/img/common/ico_fav_active.svg") no-repeat;
    background-size: contain;
}

.p-cart {
    line-height: 1.6;
    padding-top: 98px;
    /* mypageで使われているので後ほど削除 */
}
.p-cart__wrap {
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 13px;
}
.p-cart__wrap:not(:first-child) {
    margin-top: 20px;
}
.p-cart__wrap__box {
    border-top: 1px solid #ccc;
    margin: 0 15px;
    padding: 18px 0;
}
.p-cart__wrap__box__nb {
    margin: 0 15px;
    padding: 0 0 18px;
}
.p-cart__wrap__option {
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
}
.p-cart__wrap__option p {
    font-size: 11px;
    line-height: 1.8;
}
.p-cart__wrap__option__ttl {
    background: #f0f0f0;
    padding: 2px 3px;
    margin-bottom: 3px;
}
.p-cart__rankSearch li {
    position: relative;
}
.p-cart__rankSearch li::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #eee;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 5px;
}
.p-cart__rankSearch li:first-child::before {
    content: "1";
    background: #D0AA5C;
    color: #fff;
}
.p-cart__rankSearch li:nth-child(2)::before {
    content: "2";
    display: inline-block;
    background: #A4A4A4;
    color: #fff;
}
.p-cart__rankSearch li:nth-child(3)::before {
    content: "3";
    display: inline-block;
    background: #886635;
    color: #fff;
}
.p-cart__paymentList .ec-borderedDefs {
    border-top: none !important;
}
.p-cart__paymentList li {
    font-size: 12px;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
}
.p-cart__paymentList li:first-child {
    border-top: 1px solid #ccc;
}
.p-cart__paymentList li label {
    width: 100%;
}
.p-cart__paymentList li a {
    text-decoration: underline;
}
.p-cart__paymentList li input {
    font-size: 15px;
}
.p-cart__relatedPanel__main {
    overflow: hidden;
}
.p-cart__relatedPanel__main.is-panelClose {
    height: 108px;
    position: relative;
}
.p-cart__relatedPanel__main.is-panelClose::after {
    content: "";
    display: block;
    width: 100%;
    height: 80px;
    background: linear-gradient(#FFFFFF00, #FFF);
    position: absolute;
    bottom: 0;
    right: 0;
}
.p-cart__relatedPanel__tabToggle {
    width: 50%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
.p-cart__optionSlide__name {
    text-align: center;
    font-size: 15px;
    line-height: 2;
}
.p-cart .slick-slider {
    margin-bottom: 0 !important;
}
.p-cart__itemListCart__item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}
.p-cart__itemListCart__item-borT {
    border-top: 1px solid #ccc;
    margin-top: 2rem;
    padding-top: 2rem;
}
.p-cart__PointList__item:not(:first-of-type) {
    padding-top: 1rem;
    border-top: solid 1px #ccc;
}
.p-cart__noteBox {
    background: url("../../../html/template/commons/assets/img/common/ico_note.png") no-repeat center left 0;
    line-height: 2;
    padding-left: 27px;
    background-size: 22px;
    font-size: 11px;
}
.p-cart__side {
    /*
      border: 1px solid #f7931e;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    */
    background: #f0f0f0;
    padding: 4rem 2rem;
}
.p-cart__side__line {
    margin-top: 4rem;
    padding-top: 4rem;
    border-top: 1px solid #ccc;
}
.p-cart .c-itemList--col4 .c-itemList__item {
    padding-top: 0;
}

.p-mypage__returnReasonList__item {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
}

/* 商品ページのシリーズリスト */
.c-itemSeriesList li{
    width: 23%;
    margin-right: 2%;
}


/*--------------------------------
// カテゴリTOP リニューアル 2020.10 青木
--------------------------------*/
.js-topSlider-re20 .slick-slide:not(.slick-center) {
    -moz-filter: opacity(50%);
    -o-filter: opacity(50%);
    -ms-filter: opacity(50%);
    filter: opacity(50%);
    transition: 0.2s linear;
}
.js-topSlider-re20 .slick-slide{
    width: 960px;
}

/*--------------------------------
// Gナビ リニューアル 2020.11 青木
--------------------------------*/
.c-gnav__head__list_all{
    margin: 0.8rem 0 1.5rem;
}
.c-gnav__head__list_all a{
    padding: .5rem 4rem .5rem 1.5rem;
    background-color: #f7931e;
    color: #fff;
    border-radius: 5px;
    position: relative;
}
.c-gnav__head__list_all a::after{
    content: "";
    border-left: .8rem solid #fff;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
}

/* 2021.04.30 青木 商品ページにて価格修正風 */
/* is-category--830 の数字の部分を各規格のIDに変えればOK */
/* style.css,style_pc.css,style_sp.cssに記述あり */
/* .is-category--830 .c-itemGroupPrice::after{
    font-size: 1.4rem;
    padding: .3rem .2rem .2rem .7rem;
    top: -.3rem;
    left: 24.5rem;
} */
